### Import all functions and libraries from `wordle.py`

In [1]:
from wordle import *

model

### Run `play_wordle()` to start a game
- Code will randomly select a 5-letter word from the given URL
- You have six tries to guess correctly
- If you guess the position of a letter in the word it will turn `GREEN`
- If you guess a letter, but it is in the wron position it turns `ORANGE`
- If the letter does not exist, it will become `lower case black ink`

#### GOOD LUCK, SPICED!

In [5]:
play_wordle()

Enter a 5-letter Word :value

Enter a 5-letter Word :wonky

Enter a 5-letter Word :noise

Enter a 5-letter Word :snoop

Enter a 5-letter Word :snorc

Enter a 5-letter Word :snort

##############################################################
       HURRAY THE WORD WAS: SNORT
##############################################################
YOU ARE A HUMAN GENIUS! YOU SHOULD BE FEARED AND RESPECTED!!!
Give yourself a pat on the shoulder :)
That student debt is finally paying off!!!
WANNA PLAY AGAIN?