### Import all functions and libraries from `wordle.py`

In [2]:
from wordle import *

Apple

### Run `play_wordle()` to start a game
- Code will randomly select a 5-letter word from the given website
- You have six tries to guess correctly
- If you guess the position of a letter in the word it will turn `GREEN`
- If you guess a letter, but it is in the wron position it turns `ORANGE`
- If the letter does not exist, it will become `lower case black ink`

#### GOOD LUCK, SPICED!

In [3]:
play_wordle()

Guess a word :trast

Guess a word :clear

Guess a word :polar

Guess a word :apple

Guess a word :apple

Guess a word :apple

You lost! The word was APPLE, ...